.c-wrapper {
  display: block;
  box-sizing: border-box;
  flex-basis: calc(100% - 300px);
  height: 700px;
  padding: 60px 32px 60px 32px;
}

.c-body {
  display: block;
  box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
}
